body {
  background-color: black;
  text-align: center;
  font-family: veranda, geneva, tahoma, sans-serif;
}
/* Headings */
.header--main {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.header-secondary {
  color: #ffffff;
  font-weight: 300px;
  foont-size: 42px;
}

.header--sub-header {
font-size: 21px;
color: grey;
}
/* Links */
.link--cta {
  font-size: 16px;
  color: aquamarine;
}
